/* ------------------------------------------------------- MAIN WAYBAR */
* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border-radius: 14px;
}

#waybar {
    background: rgba(50, 50, 50, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#clock,
#battery,
#cpu,
#memory,
#custom-disk-usage,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-uptime,
#custom-kernel,
#custom-power,
#custom-reboot,
#custom-logout {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 10px;
    color: #ffffff;
    transition: all 0.5s ease;
    border-radius: 10px;
}

#backlight,
#temperature,
#cpu,
#memory,
#custom-disk-usage,
#custom-uptime,
#custom-kernel,
#battery {
    padding: 0 5px;
    margin-right: 0px;
    border-radius: 0;
}

#cpu {
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#battery {
    padding-right: 10px;
    margin-right: 4px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


#network:hover,
#pulseaudio:hover {
    background: rgba(255, 255, 255, 0.1);
}

#cpu,
#custom-uptime,
#custom-kernel,
#temperature,
#memory,
#custom-disk-usage,
#backlight,
#battery,
#network,
#pulseaudio {
    background: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}

/* ------------------------------------------------------- WORKSPACES */
#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
    font-size: 16px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#workspaces button {
    margin: 4px;
    color: #ffffff;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 10px;
}

#workspaces button:hover {
    background: rgba(23, 129, 211, 0.5);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background: #1780d3;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

@keyframes blUrgent {
    0% {
        background-color: #ff5454;
        color: #ffffff;
    }

    25% {
        background-color: #ff5454;
        color: #ffffff;
    }

    50% {
        background-color: #ffffff;
        color: #ff5454;
    }

    75% {
        background-color: #ffffff;
        color: #ff5454;
    }

    100% {
        background-color: #ff5454;
        color: #ffffff;
    }
}

#workspaces button.urgent {
    background-color: #ffffff;
    color: #ff5454;
    animation-name: blUrgent;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* ------------------------------------------------------- TIME & DATE */
#clock {
    font-size: 16px;
}

/* ------------------------------------------------------- AUDIO */
#pulseaudio.muted {
    color: #818181;
}

#custom-media {
    background-color: #00a2d3;
    color: #ffffff;
    min-width: 50px;
}

#custom-media.custom-spotify:hover {
    background-color: rgba(102, 204, 153, 0.5);
    color: #000000;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
    color: #000000;
}

#custom-media.custom-firefox:hover {
    background-color: rgba(255, 68, 0, 0.5);
    color: #ffffff;
}

#custom-media.custom-firefox {
    background-color: #ff4500;
    color: #ffffff;
}

/* ------------------------------------------------------- BATTERY MODULE */
#battery.charging,
#battery.plugged {
    /* color: #26A65B; */
    color: #0ef06c;
}

@keyframes blink {
    to {
        color: #ff5454;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

/* ------------------------------------------------------- NETWORK */
#network.disconnected {
    color: #ff5454;
}

/* ------------------------------------------------------- CPU */
#temperature.critical {
    color: #ff5454;
}

/* ------------------------------------------------------- POWER BUTTONS */
#custom-power {
    background: rgb(194, 55, 0);
    margin-right: 4px;
    font-size: 16;
}

#custom-power:hover {
    background: rgba(194, 55, 0, 0.5);
}

#custom-reboot {
    background: rgb(32, 158, 0);
    font-size: 16;
}

#custom-reboot:hover {
    background: rgba(32, 158, 0, 0.5);
}

#custom-logout {
    background: rgb(212, 149, 0);
    font-size: 16;
}

#custom-logout:hover {
    background: rgba(212, 148, 0, 0.5);
}